<!DOCTYPE html>
%html
  %head
    %title#title
      #{@title || "lip"}
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content=>"width=device-width, initial-scale=1, maximum-scale=1"}
    %meta{:name=>"apple-mobile-web-app-capable", :content=>"yes"}
    %script{:type => "text/javascript", :src => "#{url_for('/libs/jquery/dist/jquery.min.js')}"}
    %link{:href=>"#{url_for('/libs/bootstrap/dist/css/bootstrap.min.css')}", :rel=>"stylesheet"}
    %link{:href=>"#{url_for('/css/default.css')}", :rel=>"stylesheet"}
    %script{:src=>"#{url_for('/libs/bootstrap/dist/js/bootstrap.min.js')}"}
    %script{:src=>"#{url_for('/libs/reconnectingWebsocket/reconnecting-websocket.js')}"}
  %body
    %nav.navbar.navbar-default{role: "navigation"}
      .navbar-header
        %button.navbar-toggle{type:"button", data:{toggle: "collapse", target: ".navbar-collapse"}}
          %span.sr-only
            Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{href:"#{url_for("/")}"}
          Lip
      .navbar-collapse
        %form.navbar-form{role:"username"}
          %input#user.form-control{type:"text", value:'guest', placeholder:'username'}
    .container#content
      =yield
    .container.footer
      A 
      %a{href:"https://patf.net"}
        patf
      joint
:javascript
  function setCookie(cname, cvalue, exdays) {
      var d = new Date();
      d.setTime(d.getTime() + (exdays*24*60*60*1000));
      var expires = "expires="+d.toUTCString();
      document.cookie = cname + "=" + cvalue + "; " + expires;
  }

  function getCookie(cname) {
      var name = cname + "=";
      var ca = document.cookie.split(';');
      for(var i=0; i<ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0)==' ') c = c.substring(1);
          if (c.indexOf(name) != -1) return c.substring(name.length, c.length);
      }
      return "";
  }
  function elem(id) {
    return document.getElementById(id);
  }                                                  
  elem("user").value = getCookie("user");
  elem("user").addEventListener("change", function() {setCookie("user", this.value, 365*40)});
